<footer class="gdoc-footer">
  <div class="container flex flex-wrap">
    <span class="gdoc-footer__item">
      &copy; {{ now.Format "2006" }} Twitter, Inc.
    </span>
    <span class="gdoc-footer__item">
      <a
        href="https://help.twitter.com/rules-and-policies/twitter-cookies"
        class="gdoc-footer__link"
        >Cookies</a
      >
    </span>
    <span class="gdoc-footer__item">
      <a href="https://twitter.com/privacy" class="gdoc-footer__link"
        >Privacy</a
      >
    </span>
    <span class="gdoc-footer__item">
      <a href="https://twitter.com/tos" class="gdoc-footer__link"
        >Terms and Conditions</a
      >
    </span>
  </div>
</footer>
{{ if .Params.katex}}{{ partial "katex.html" . }}{{ end }}
