name: Template API Note Writer

on:
  # Allow manual triggering of the workflow via Github Actions
  workflow_dispatch:

  # Uncomment the cron schedule to start automated runs via Github Actions
  #schedule:
  #  - cron: '*/15 * * * *'

# Add concurrency group to prevent parallel runs
concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: false

jobs:
  regular_run:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v4
        with:
          ref: bradm/writer_updates
      
      - name: Install uv
        uses: astral-sh/setup-uv@v5
      
      - name: Install the project
        run: cd template-api-note-writer && uv sync --locked 
      
      - name: Run bot
        run: >
          cd template-api-note-writer && uv run src/main.py
            --concurrency 3
            --num-posts 3
            --co-submission-threshold=0.5
            --co-reject-threshold=-1
        # Read the environment variables from the github repository.
        # Store under Settings --> Secrets and variables --> Actions
        env:
          XAI_API_KEY: ${{ secrets.XAI_API_KEY }} # Optional: delete if not using XAI API
          X_API_KEY:    ${{ secrets.X_API_KEY }}
          X_API_KEY_SECRET: ${{ secrets.X_API_KEY_SECRET }}
          X_ACCESS_TOKEN:    ${{ secrets.X_ACCESS_TOKEN }}
          X_ACCESS_TOKEN_SECRET:    ${{ secrets.X_ACCESS_TOKEN_SECRET }}
